#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Image_2 {
  position: absolute;
  top: 8px;
  left: 886px;
  width: 122px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_3 {
  position: absolute;
  top: 108px;
  left: 62px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_3 span#rtr-s-Label_3_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_4 {
  position: absolute;
  top: 108px;
  left: 364px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_4 span#rtr-s-Label_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_5 {
  position: absolute;
  top: 108px;
  left: 208px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_5 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_5 span#rtr-s-Label_5_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_1 {
  position: absolute;
  top: 80px;
  left: 65px;
  width: 160px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_1 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_1 span#rtr-s-Text_1_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_6 {
  position: absolute;
  top: 108px;
  left: 530px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_6 span#rtr-s-Label_6_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_7 {
  position: absolute;
  top: 108px;
  left: 698px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_7 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_7 span#rtr-s-Label_7_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_8 {
  position: absolute;
  top: 210px;
  left: 62px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_8 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_8 span#rtr-s-Label_8_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_9 {
  position: absolute;
  top: 210px;
  left: 208px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_9 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_9 span#rtr-s-Label_9_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_10 {
  position: absolute;
  top: 210px;
  left: 364px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_10 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_10 span#rtr-s-Label_10_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_11 {
  position: absolute;
  top: 210px;
  left: 530px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_11 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_11 span#rtr-s-Label_11_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_12 {
  position: absolute;
  top: 210px;
  left: 698px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_12 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_12 span#rtr-s-Label_12_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_13 {
  position: absolute;
  top: 313px;
  left: 62px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_13 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_13 span#rtr-s-Label_13_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_14 {
  position: absolute;
  top: 313px;
  left: 208px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_14 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_14 span#rtr-s-Label_14_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_15 {
  position: absolute;
  top: 313px;
  left: 364px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_15 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_15 span#rtr-s-Label_15_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_16 {
  position: absolute;
  top: 313px;
  left: 530px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_16 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_16 span#rtr-s-Label_16_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_17 {
  position: absolute;
  top: 313px;
  left: 698px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_17 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_17 span#rtr-s-Label_17_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Line_1 {
  position: absolute;
  top: 75px;
  left: -1px;
  width: 1024px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_1 {
  position: absolute;
  top: 711px;
  left: 766px;
  width: 221px;
  height: 37px;
  background-color: #01918F;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_18 {
  position: absolute;
  top: 108px;
  left: 865px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_18 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_18 span#rtr-s-Label_18_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_19 {
  position: absolute;
  top: 210px;
  left: 865px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_19 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_19 span#rtr-s-Label_19_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_20 {
  position: absolute;
  top: 313px;
  left: 865px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_20 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_20 span#rtr-s-Label_20_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_4 {
  position: absolute;
  top: 178px;
  left: 65px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_4 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_4 span#rtr-s-Text_4_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_5 {
  position: absolute;
  top: 178px;
  left: 208px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_5 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_5 span#rtr-s-Text_5_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_6 {
  position: absolute;
  top: 178px;
  left: 368px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_6 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_6 span#rtr-s-Text_6_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_7 {
  position: absolute;
  top: 178px;
  left: 531px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_7 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_7 span#rtr-s-Text_7_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_8 {
  position: absolute;
  top: 178px;
  left: 701px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_8 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_8 span#rtr-s-Text_8_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_9 {
  position: absolute;
  top: 178px;
  left: 871px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_9 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_9 span#rtr-s-Text_9_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_10 {
  position: absolute;
  top: 278px;
  left: 65px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_10 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_10 span#rtr-s-Text_10_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_11 {
  position: absolute;
  top: 278px;
  left: 208px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_11 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_11 span#rtr-s-Text_11_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_12 {
  position: absolute;
  top: 278px;
  left: 368px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_12 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_12 span#rtr-s-Text_12_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_13 {
  position: absolute;
  top: 278px;
  left: 531px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_13 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_13 span#rtr-s-Text_13_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_14 {
  position: absolute;
  top: 278px;
  left: 701px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_14 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_14 span#rtr-s-Text_14_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_15 {
  position: absolute;
  top: 278px;
  left: 871px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_15 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_15 span#rtr-s-Text_15_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_16 {
  position: absolute;
  top: 378px;
  left: 65px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_16 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_16 span#rtr-s-Text_16_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_17 {
  position: absolute;
  top: 378px;
  left: 208px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_17 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_17 span#rtr-s-Text_17_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_18 {
  position: absolute;
  top: 378px;
  left: 368px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_18 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_18 span#rtr-s-Text_18_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_19 {
  position: absolute;
  top: 378px;
  left: 531px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_19 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_19 span#rtr-s-Text_19_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_20 {
  position: absolute;
  top: 378px;
  left: 701px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_20 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_20 span#rtr-s-Text_20_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_21 {
  position: absolute;
  top: 378px;
  left: 871px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_21 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_21 span#rtr-s-Text_21_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Line_2 {
  position: absolute;
  top: 425px;
  left: -1px;
  width: 1024px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_22 {
  position: absolute;
  top: 430px;
  left: 65px;
  width: 143px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_22 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_22 span#rtr-s-Text_22_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_21 {
  position: absolute;
  top: 460px;
  left: 70px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_21 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_21 span#rtr-s-Label_21_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_22 {
  position: absolute;
  top: 460px;
  left: 232px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_22 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_22 span#rtr-s-Label_22_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_23 {
  position: absolute;
  top: 460px;
  left: 394px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_23 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_23 span#rtr-s-Label_23_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_24 {
  position: absolute;
  top: 460px;
  left: 556px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_24 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_24 span#rtr-s-Label_24_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_25 {
  position: absolute;
  top: 460px;
  left: 718px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_25 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_25 span#rtr-s-Label_25_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_26 {
  position: absolute;
  top: 460px;
  left: 880px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_26 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_26 span#rtr-s-Label_26_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_23 {
  position: absolute;
  top: 519px;
  left: 65px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_23 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_23 span#rtr-s-Text_23_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_26 {
  position: absolute;
  top: 519px;
  left: 548px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_26 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_26 span#rtr-s-Text_26_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_27 {
  position: absolute;
  top: 519px;
  left: 705px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_27 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_27 span#rtr-s-Text_27_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_28 {
  position: absolute;
  top: 519px;
  left: 871px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_28 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_28 span#rtr-s-Text_28_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Line_3 {
  position: absolute;
  top: 685px;
  left: -1px;
  width: 1024px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_27 {
  position: absolute;
  top: 550px;
  left: 70px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_27 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_27 span#rtr-s-Label_27_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_28 {
  position: absolute;
  top: 550px;
  left: 232px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_28 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_28 span#rtr-s-Label_28_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_29 {
  position: absolute;
  top: 550px;
  left: 394px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_29 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_29 span#rtr-s-Label_29_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_30 {
  position: absolute;
  top: 550px;
  left: 556px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_30 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_30 span#rtr-s-Label_30_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_31 {
  position: absolute;
  top: 550px;
  left: 718px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_31 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_31 span#rtr-s-Label_31_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_32 {
  position: absolute;
  top: 550px;
  left: 880px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_32 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_32 span#rtr-s-Label_32_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_29 {
  position: absolute;
  top: 609px;
  left: 68px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_29 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_29 span#rtr-s-Text_29_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_30 {
  position: absolute;
  top: 609px;
  left: 221px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_30 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_30 span#rtr-s-Text_30_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_31 {
  position: absolute;
  top: 609px;
  left: 384px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_31 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_31 span#rtr-s-Text_31_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_32 {
  position: absolute;
  top: 609px;
  left: 543px;
  width: 90px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_32 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_32 span#rtr-s-Text_32_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_33 {
  position: absolute;
  top: 609px;
  left: 700px;
  width: 90px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_33 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_33 span#rtr-s-Text_33_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_34 {
  position: absolute;
  top: 609px;
  left: 863px;
  width: 95px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_34 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_34 span#rtr-s-Text_34_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_35 {
  position: absolute;
  top: 717px;
  left: 530px;
  width: 223px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_35 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_35 span#rtr-s-Text_35_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_36 {
  position: absolute;
  top: 642px;
  left: 758px;
  width: 198px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_36 span {
  color: #008E8B;
  text-align: left;
  text-decoration: underline;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_36 span#rtr-s-Text_36_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: underline;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Image_1 {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 145px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 1021px;
  height: 764px;
  background-color: #000000;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  opacity: 0.5;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Rectangle_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Rectangle_2 {
  position: absolute;
  top: 80px;
  left: 69px;
  width: 883px;
  height: 616px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_37 {
  position: absolute;
  top: 111px;
  left: 92px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_37 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_37 span#rtr-s-Text_37_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_37 span#rtr-s-Text_37_1 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Dynamic_Panel_3 {
  position: absolute;
  top: 184px;
  left: 98px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Panel_3 {
  width: 824px;
  height: 445px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #008E8B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #008E8B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #008E8B;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_40 {
  position: absolute;
  top: 7px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_40 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_40 span#rtr-s-Text_40_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_41 {
  position: absolute;
  top: 58px;
  left: 29px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_41 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_41 span#rtr-s-Text_41_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Paragraph_1 {
  position: absolute;
  top: 95px;
  left: 29px;
  width: 304px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Paragraph_1 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_4 {
  position: absolute;
  top: 214px;
  left: 29px;
  width: 146px;
  height: 37px;
  background-color: #01918F;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_4 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_44 {
  position: absolute;
  top: 268px;
  left: 29px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 12.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_44 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_44 span#rtr-s-Text_44_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Panel_1 {
  width: 826px;
  height: 447px;
  background-color: transparent;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #008E8B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #008E8B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #008E8B;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_42 {
  position: absolute;
  top: 7px;
  left: 9px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_42 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_42 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_42 span#rtr-s-Text_42_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_43 {
  position: absolute;
  top: 54px;
  left: 30px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_43 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_43 span#rtr-s-Text_43_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Paragraph_2 {
  position: absolute;
  top: 89px;
  left: 30px;
  width: 190px;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Paragraph_2 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_5 {
  position: absolute;
  top: 214px;
  left: 29px;
  width: 146px;
  height: 37px;
  background-color: #01918F;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_5 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_45 {
  position: absolute;
  top: 268px;
  left: 29px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  display: none;
  font-size: 12.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_45 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_45 span#rtr-s-Text_45_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_2 {
  position: absolute;
  top: 652px;
  left: 782px;
  width: 146px;
  height: 37px;
  background-color: #01918F;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_3 {
  position: absolute;
  top: 652px;
  left: 612px;
  width: 146px;
  height: 37px;
  background-color: #01918F;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_38 {
  position: absolute;
  top: 145px;
  left: 116px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_38 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_38 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_38 span#rtr-s-Text_38_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_39 {
  position: absolute;
  top: 145px;
  left: 286px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Siemens Sans,Arial;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_39 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_39 span#rtr-s-Text_39_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Group_1 {
  position: absolute;
  top: 148px;
  left: 98px;
  width: 183px;
  height: 13px;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Radio_button_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  box-shadow: none;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Radio_button_2 {
  position: absolute;
  top: 0px;
  left: 170px;
  cursor: pointer;
  box-shadow: none;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}