#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_26 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_27 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  filter: alpha(opacity=50);
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #FFFFFF;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #FFFFFF;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #FFFFFF;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Panel_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #008E8B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #008E8B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #008E8B;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Panel_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #008E8B;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #008E8B;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #008E8B;
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-471731c7-5bf7-4e14-8c27-b6b93d89d694 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}