#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_12 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_13 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_14 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_15 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_16 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_17 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_18 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_19 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_20 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_21 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_22 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_23 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_24 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_25 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_26 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_27 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_28 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_29 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_30 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_31 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_32 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Callout_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(180.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}