#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_3 {
  position: absolute;
  top: 108px;
  left: 62px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_3 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_3 span#rtr-s-Label_3_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_4 {
  position: absolute;
  top: 108px;
  left: 364px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_4 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_4 span#rtr-s-Label_4_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_5 {
  position: absolute;
  top: 108px;
  left: 208px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_5 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_5 span#rtr-s-Label_5_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_1 {
  position: absolute;
  top: 80px;
  left: 65px;
  width: 160px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_1 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_1 span#rtr-s-Text_1_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_6 {
  position: absolute;
  top: 108px;
  left: 530px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_6 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_6 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_6 span#rtr-s-Label_6_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_7 {
  position: absolute;
  top: 108px;
  left: 698px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_7 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_7 span#rtr-s-Label_7_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_8 {
  position: absolute;
  top: 210px;
  left: 62px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_8 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_8 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_8 span#rtr-s-Label_8_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_9 {
  position: absolute;
  top: 210px;
  left: 208px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_9 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_9 span#rtr-s-Label_9_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_10 {
  position: absolute;
  top: 210px;
  left: 364px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_10 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_10 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_10 span#rtr-s-Label_10_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_11 {
  position: absolute;
  top: 210px;
  left: 530px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_11 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_11 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_11 span#rtr-s-Label_11_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_12 {
  position: absolute;
  top: 210px;
  left: 698px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_12 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_12 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_12 span#rtr-s-Label_12_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_13 {
  position: absolute;
  top: 313px;
  left: 62px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_13 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_13 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_13 span#rtr-s-Label_13_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_14 {
  position: absolute;
  top: 313px;
  left: 208px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_14 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_14 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_14 span#rtr-s-Label_14_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_15 {
  position: absolute;
  top: 313px;
  left: 364px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_15 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_15 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_15 span#rtr-s-Label_15_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_16 {
  position: absolute;
  top: 313px;
  left: 530px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_16 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_16 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_16 span#rtr-s-Label_16_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_17 {
  position: absolute;
  top: 313px;
  left: 698px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_17 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_17 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_17 span#rtr-s-Label_17_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Line_1 {
  position: absolute;
  top: 75px;
  left: -1px;
  width: 1024px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Button_1 {
  position: absolute;
  top: 711px;
  left: 766px;
  width: 221px;
  height: 37px;
  background-color: #01918F;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_18 {
  position: absolute;
  top: 108px;
  left: 865px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_18 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_18 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_18 span#rtr-s-Label_18_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_19 {
  position: absolute;
  top: 210px;
  left: 865px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_19 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_19 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_19 span#rtr-s-Label_19_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_20 {
  position: absolute;
  top: 313px;
  left: 865px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 60.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_20 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_20 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_20 span#rtr-s-Label_20_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 60.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_4 {
  position: absolute;
  top: 178px;
  left: 65px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_4 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_4 span#rtr-s-Text_4_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_5 {
  position: absolute;
  top: 178px;
  left: 208px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_5 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_5 span#rtr-s-Text_5_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_6 {
  position: absolute;
  top: 178px;
  left: 368px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_6 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_6 span#rtr-s-Text_6_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_7 {
  position: absolute;
  top: 178px;
  left: 531px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_7 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_7 span#rtr-s-Text_7_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_8 {
  position: absolute;
  top: 178px;
  left: 701px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_8 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_8 span#rtr-s-Text_8_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_9 {
  position: absolute;
  top: 178px;
  left: 871px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_9 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_9 span#rtr-s-Text_9_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_10 {
  position: absolute;
  top: 278px;
  left: 65px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_10 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_10 span#rtr-s-Text_10_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_11 {
  position: absolute;
  top: 278px;
  left: 208px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_11 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_11 span#rtr-s-Text_11_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_12 {
  position: absolute;
  top: 278px;
  left: 368px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_12 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_12 span#rtr-s-Text_12_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_13 {
  position: absolute;
  top: 278px;
  left: 531px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_13 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_13 span#rtr-s-Text_13_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_14 {
  position: absolute;
  top: 278px;
  left: 701px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_14 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_14 span#rtr-s-Text_14_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_15 {
  position: absolute;
  top: 278px;
  left: 871px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_15 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_15 span#rtr-s-Text_15_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_16 {
  position: absolute;
  top: 378px;
  left: 65px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_16 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_16 span#rtr-s-Text_16_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_17 {
  position: absolute;
  top: 378px;
  left: 208px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_17 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_17 span#rtr-s-Text_17_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_18 {
  position: absolute;
  top: 378px;
  left: 368px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_18 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_18 span#rtr-s-Text_18_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_19 {
  position: absolute;
  top: 378px;
  left: 531px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_19 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_19 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_19 span#rtr-s-Text_19_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_20 {
  position: absolute;
  top: 378px;
  left: 701px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_20 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_20 span#rtr-s-Text_20_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_21 {
  position: absolute;
  top: 378px;
  left: 871px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_21 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_21 span#rtr-s-Text_21_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Line_2 {
  position: absolute;
  top: 425px;
  left: -1px;
  width: 1024px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_22 {
  position: absolute;
  top: 430px;
  left: 65px;
  width: 143px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_22 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_22 span#rtr-s-Text_22_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_21 {
  position: absolute;
  top: 460px;
  left: 70px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_21 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_21 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_21 span#rtr-s-Label_21_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_22 {
  position: absolute;
  top: 460px;
  left: 232px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_22 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_22 span#rtr-s-Label_22_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_23 {
  position: absolute;
  top: 460px;
  left: 394px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_23 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_23 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_23 span#rtr-s-Label_23_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_24 {
  position: absolute;
  top: 460px;
  left: 556px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_24 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_24 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_24 span#rtr-s-Label_24_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_25 {
  position: absolute;
  top: 460px;
  left: 718px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_25 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_25 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_25 span#rtr-s-Label_25_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_26 {
  position: absolute;
  top: 460px;
  left: 880px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_26 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_26 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_26 span#rtr-s-Label_26_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_23 {
  position: absolute;
  top: 519px;
  left: 65px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_23 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_23 span#rtr-s-Text_23_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_24 {
  position: absolute;
  top: 519px;
  left: 226px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_24 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_24 span#rtr-s-Text_24_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_25 {
  position: absolute;
  top: 519px;
  left: 384px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_25 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_25 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_25 span#rtr-s-Text_25_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_26 {
  position: absolute;
  top: 519px;
  left: 548px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_26 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_26 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_26 span#rtr-s-Text_26_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_27 {
  position: absolute;
  top: 519px;
  left: 705px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_27 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_27 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_27 span#rtr-s-Text_27_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_28 {
  position: absolute;
  top: 519px;
  left: 871px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_28 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_28 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_28 span#rtr-s-Text_28_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Line_3 {
  position: absolute;
  top: 685px;
  left: -1px;
  width: 1024px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_27 {
  position: absolute;
  top: 550px;
  left: 70px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_27 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_27 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_27 span#rtr-s-Label_27_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_28 {
  position: absolute;
  top: 550px;
  left: 232px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_28 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_28 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_28 span#rtr-s-Label_28_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_29 {
  position: absolute;
  top: 550px;
  left: 394px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_29 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_29 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_29 span#rtr-s-Label_29_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_30 {
  position: absolute;
  top: 550px;
  left: 556px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_30 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_30 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_30 span#rtr-s-Label_30_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_31 {
  position: absolute;
  top: 550px;
  left: 718px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_31 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_31 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_31 span#rtr-s-Label_31_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_32 {
  position: absolute;
  top: 550px;
  left: 880px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 48.0pt;
  font-family: FontAwesomeJiM-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_32 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_32 span {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Label_32 span#rtr-s-Label_32_0 {
  color: #999999;
  text-align: left;
  text-decoration: none;
  font-family: FontAwesomeJiM-Regular,Arial;
  font-size: 48.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_29 {
  position: absolute;
  top: 609px;
  left: 68px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_29 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_29 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_29 span#rtr-s-Text_29_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_30 {
  position: absolute;
  top: 609px;
  left: 221px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_30 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_30 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_30 span#rtr-s-Text_30_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_31 {
  position: absolute;
  top: 609px;
  left: 384px;
  width: 80px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_31 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_31 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_31 span#rtr-s-Text_31_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_32 {
  position: absolute;
  top: 609px;
  left: 543px;
  width: 90px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_32 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_32 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_32 span#rtr-s-Text_32_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_33 {
  position: absolute;
  top: 609px;
  left: 700px;
  width: 90px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_33 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_33 span#rtr-s-Text_33_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_34 {
  position: absolute;
  top: 609px;
  left: 863px;
  width: 95px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_34 span {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_34 span#rtr-s-Text_34_0 {
  color: #008E8B;
  text-align: center;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_35 {
  position: absolute;
  top: 717px;
  left: 530px;
  width: 223px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_35 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_35 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_35 span#rtr-s-Text_35_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_36 {
  position: absolute;
  top: 648px;
  left: 758px;
  width: 198px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_36 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_36 span {
  color: #008E8B;
  text-align: left;
  text-decoration: underline;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: italic;
  font-weight: 700;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_36 span#rtr-s-Text_36_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: underline;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: italic;
  font-weight: 700;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Image_1 {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 145px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Hotspot_1 {
  position: absolute;
  top: 112px;
  left: 59px;
  width: 93px;
  height: 93px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Dynamic_Panel_1 {
  position: absolute;
  top: 189px;
  left: 65px;
  display: none;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Panel_1 {
  width: 181px;
  height: 158px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Callout_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 178px;
  height: 111px;
  position: absolute;
  overflow: hidden;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Callout_1 .content {
  width: 178px;
  height: 111px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Callout_1 {
  position: absolute;
  top: 0px;
  left: 1px;
  width: 178px;
  height: 156px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 17px;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #shapewrapper-s-Callout_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_3 {
  position: absolute;
  top: 63px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_3 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_3 span#rtr-s-Text_3_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_37 {
  position: absolute;
  top: 93px;
  left: 14px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_37 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_37 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Text_37 span#rtr-s-Text_37_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac #s-Image_2 {
  position: absolute;
  top: 8px;
  left: 886px;
  width: 122px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-4858ff74-4122-47c9-ab1c-40d647c6a0ac > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}