#s-bddac790-31a8-454e-809f-089b9fab475d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Label_33 {
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Label_34 {
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Line_5 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Line_5 {
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -ms-transform: rotate(0.0deg);
}
#s-bddac790-31a8-454e-809f-089b9fab475d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}