#s-bddac790-31a8-454e-809f-089b9fab475d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-bddac790-31a8-454e-809f-089b9fab475d > #alignmentBox {
  position: relative;
  margin: 0 auto;
  width: 1024px;
  min-width: 1024px;
  min-height: 768px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Image_2 {
  position: absolute;
  top: 8px;
  left: 886px;
  width: 122px;
  height: 64px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Line_1 {
  position: absolute;
  top: 75px;
  left: -1px;
  width: 1024px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Line_2 {
  position: absolute;
  top: 425px;
  left: -1px;
  width: 1024px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #008E8B;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Image_1 {
  position: absolute;
  top: 6px;
  left: 7px;
  width: 145px;
  height: 65px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Tabs-bar {
  position: absolute;
  top: 80px;
  left: 20px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Panel_7 {
  width: 237px;
  height: 49px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Panel_7 .verticalalign {
  vertical-align: top;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Label_33 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 120px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Label_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Label_33 span {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Label_33 span#rtr-s-Label_33_0 {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Label_34 {
  position: absolute;
  top: 0px;
  left: 120px;
  width: 120px;
  height: 48px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Label_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Label_34 span {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Label_34 span#rtr-s-Label_34_0 {
  color: #BCBCBC;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Line_5 {
  position: absolute;
  top: 47px;
  left: 0px;
  width: 120px;
  height: 3px;
  border-top-width: 3px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Dynamic_Panel_1 {
  position: absolute;
  top: 128px;
  left: 0px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Panel_1 {
  width: 1024px;
  height: 290px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Panel_1 .verticalalign {
  vertical-align: top;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_1 {
  position: absolute;
  top: 8px;
  left: 31px;
  width: 160px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_1 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_1 span#rtr-s-Text_1_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_2 {
  position: absolute;
  top: 48px;
  left: 31px;
  width: 160px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_2 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_2 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_2 span#rtr-s-Text_2_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_1 {
  position: absolute;
  top: 50px;
  left: 138px;
  width: 129px;
  height: 27px;
  background-color: #01918F;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_1 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_1 span#rtr-s-Button_1_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Panel_3 {
  width: 1024px;
  height: 290px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Panel_3 .verticalalign {
  vertical-align: top;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_3 {
  position: absolute;
  top: 107px;
  left: 350px;
  width: 211px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_3 span#rtr-s-Text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Dynamic_Panel_2 {
  position: absolute;
  top: 435px;
  left: 0px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Panel_2 {
  width: 1024px;
  height: 314px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_22 {
  position: absolute;
  top: 9px;
  left: 26px;
  width: 143px;
  height: 33px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Siemens Sans,Arial;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_22 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_22 span {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_22 span#rtr-s-Text_22_0 {
  color: #008E8B;
  text-align: left;
  text-decoration: none;
  font-family: Siemens Sans,Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 700;
  line-height: 0px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_2 {
  position: absolute;
  top: 251px;
  left: 784px;
  width: 221px;
  height: 37px;
  background-color: #01918F;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_2 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_2 span#rtr-s-Button_2_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Panel_4 {
  width: 1024px;
  height: 314px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Panel_4 .verticalalign {
  vertical-align: top;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_4 {
  position: absolute;
  top: 141px;
  left: 341px;
  width: 211px;
  height: 18px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_4 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_4 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_4 span#rtr-s-Text_4_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Text_4 span#rtr-s-Text_4_1 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_3 {
  position: absolute;
  top: 86px;
  left: 874px;
  width: 132px;
  height: 27px;
  background-color: #01918F;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #01918F;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #01918F;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #01918F;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #01918F;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  font-size: 10.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_3 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
}
#s-bddac790-31a8-454e-809f-089b9fab475d #s-Button_3 span#rtr-s-Button_3_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 0px;
}
#s-bddac790-31a8-454e-809f-089b9fab475d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}