/* common css */

a {
	cursor: pointer;
}

.client{
	cursor: pointer;
}

.cl-theme{ color: #008E8B;}
.bg-theme{ background-color: #008E8B;}

.pt-18{font-size: 18pt;}
.pt-16{font-size: 16pt;}
.pt-14{font-size: 14pt;}
.pt-12{font-size: 12pt;}
.pt-10{font-size: 10pt;}

.px-18{font-size: 18px;}
.px-16{font-size: 16px;}
.px-14{font-size: 14px;}
.px-12{font-size: 12px;}
.px-10{font-size: 10px;}

.border-solid-1{border: 1px solid #008E8B;}
.border-solid-2{border: 2px solid #008E8B;}

input {
/* 	width:150px !important; */
	/*color: #666666;*/
	padding:2px 2px 2px 10px;
    font-size: 11pt;
}

label {
	/*color : #333333;*/
}

mark{ color: #008E8B; background-color: transparent; font-weight: bold;}

.fl-right{ float: right; }
.tx-right{ text-align: right; }
.no-margin{ margin: 0; }
.offset-60{margin: 0 60px;}
.offset-30{margin: 0 30px;}
.offset-20{margin: 0 20px;}
.margin-5{margin: 5px;}
.margin-10{margin: 10px;}

.u_link{
	text-decoration: underline;
	font-weight: 700;
	font-style: italic;
}


div, header, footer, section, ul{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: inherit;
	position: relative;
}
ul,li{ list-style: none; }

a, a:link, a:visited, a:hover, a:active{
	color: inherit;
	text-decoration: none;
}

.inline-middle{
    display: inline-block;
    vertical-align: middle;
}

#writeResults span {
    margin: 0 auto;
    float: left;
}

a.btn{
	color: #fff;
	line-height: 28px;
	padding: 0 5px;
}

.half{
	display: inline-block;
	vertical-align: top;
	margin: 0 -2px;
	width: 50%;
}
.right{ text-align: right; }

.row{
	max-width: 1024px;
	margin: 0 auto;
}

.nav-header{
	padding-top: 5px;
	border-bottom: 1px solid #008E8B;
	position: relative;
}

.logo{
    width: 145px;
	height: 65px;
}

.logo-banner{
	width: 122px;
	height: 64px;
	position: absolute;
	right: 15px;
}

.nav-header .logo{
	width: 145px;
	height: 65px;
}
.nav-header .logo-banner{
	width: 122px;
	height: 64px;
	position: absolute;
	right: 15px;
}

.banner_container{
	text-align: center;
	margin: 110px auto 80px auto;
}

.sub-header{
	font-weight: 700;
	font-size: 14pt;
	margin: 10px 60px 0 60px;
	padding: 0;
}

.registered_clients,
.recent_projects{
	padding: 5px 0 10px 0;
	border-bottom: 1px solid;
}

.clientActive i{
    color: #008E8B !important;
}

.clientNotActive i{
    color: #999 !important;
}

.client{
	width: calc(100% / 8);
	text-align: center;
	margin: 0 -2px;
	display: inline-block;
	vertical-align: top;
	margin-top: 15px;
    padding: 0 10px;
}
.client i{font-size: 83px; color: #999;}
.client span.fa{
    vertical-align: top;
    position: absolute;
    top: -5px;
}
.client span.fa:hover{ color: #dc5654;}
.client div{/*margin-top: -8px;*/ word-break: break-word; line-height: 1.1em;}

.recent_projects .client i{font-size: 65px; color: #999;}

.visible_block{ display: block; }
.visible_none{ display: none; }

#newProjectModal .modal-dialog{width: 90%; max-width: 1000px;
line-height: 1.5em;}
#newProjectModal .modal-content{
	height: 100%;
}
#newProjectModal .modal-body{
	height: calc(100% - 70px);
	padding: 15px 30px;
}
#newProjectModal .modal-footer{padding: 15px 30px;}

#newProjectModal .half-container{
	width: calc(50% - 6px);
	margin: 0 -2px;
	display: inline-block;
	vertical-align: top;
}
#newProjectModal .half-container .horizontal .box{
	max-height: 145px;
}
#newProjectModal .half-container .box{
	border: 1px solid;
	height: 328px;
	overflow: auto;
}
#newProjectModal .half-container .title{
	margin-top: 10px;
	display: block;
}

#newProjectModal .box .client{
	width: calc(100% / 4);
	z-index: 99;
}
#newProjectModal .box .client i{cursor: move;}

#allProjectModal .modal-dialog{width: 90%; max-width: 1000px;
line-height: 1.5em;background-color:#fff;}
#allProjectModal .modal-content{
	height: 100%;
}
#allProjectModal .modal-body{
	height: calc(100% - 70px);
	padding: 15px 30px;
}
#allProjectModal .modal-footer{padding: 15px 30px;}

#allProjectsDisplay{
	width: 100%;
	margin-top: 50px;
    border: 1px solid;
    overflow-y: auto;
    min-height: 250px;
    padding-bottom: 15px;
}
#allProjectsDisplay .client {
    margin: 30px 20px 0 20px;
    width: auto;
    max-width: 150px;
}

.nav-tabs>li>a{
    font-size: 10pt;
    padding: 10px 25px;
    min-width: 110px;
    text-align: center;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    color: #01918F;
    cursor: default;
    background-color: #fff;
    border: none;
    border-bottom: 2px solid #01918F;
}

.nav-tabs>li {
    color: #ddd;
    float: left;
    margin-bottom: -1px;
}

.nav-tabs {
    border:none;
}

.connectionEstablished{
	display: none;
}

.connectionFailed{
	display: none;
}

#writeSummaryProperties{
	margin: 0;
	margin-top: 10px;
	color: #000;
	font-size: 10pt;
	line-height: 1;
	text-align: justify;
	width: 100%;
}

.loaderContainer {
	position: absolute;
	z-index:3000;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background: rgba(1,1,1,0.6);
	display:none;
    
}
.loaderContainer .loaderWrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;
}
.loaderContainer .message{
    color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 1.3em;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

.SchemaFileInput {
    margin: 16px;
}

.inputFormTable {
	width: 80%;
}

.inputFormTable tbody tr td{
	margin-left:10px;
}

.uploadSchemaInput tbody tr td{
	margin-left:10px;
}

.showCommandStatus{
	display: inline-block;
}

.progress{
	display: none;
	margin-bottom: 0px !important;
}

#readClientsBox3 div i{
	color: #008E8B !important;
}

#writeClientsBox3 div i{
	color: #008E8B !important;
}

.uploadSchemaInput{
	border-bottom:1px solid #000000;
	height:auto;
	width:100%;
	margin: 0 auto;
}

.disabledTab{
    pointer-events: none;
}

.tables_table{
	border-bottom:1px solid #000000;
	width:100%;
	margin: 5px auto;
	margin-top:15px;
}

.column_table{
	border-bottom:1px solid #000000;
	width:100%;
/* 	margin: 5px auto; */
}

td{
	padding: 5px;
	width: 110px;
    font-size: 11pt;
}

.breadcrumb{margin-bottom: 0;}
.breadcrumb > li.active{color: #008E8B; font-weight: bold;}

.clientQuery{
    margin: 10px 0;
}
.clientQuery .clientName{
    min-width: 145px;
}
.commandInput{
    background: #fff;
    border: 1px solid #ccc;
    margin-right: 10px;
    font-size: 11pt;
    padding: 5px;
    min-width: 205px;
}
.rowKey.commandInput{min-width: 205px;}
.qryResRow{
    margin-top: 5px;
    font-size: 10pt;
}
button#downloadResults{ margin:  15px 0;}
.configurationPropertiesTable{
    width: -webkit-calc(100% - 60px);
    width: calc(100% - 60px);
    margin-bottom: 20px;
    font-size: 11pt;
}

#metricsCollectionsEdit{
    padding: 15px;
}
#metricsCollectionsEdit label{
    font-weight: normal;
    font-size: 11pt;
    margin: 0;
}
#metricsCollectionsEdit .inputFormTable{width: 80%; max-width: 500px;}
#metricsCollectionsEdit .inputFormTable tbody tr td:nth-child(2){
    text-align: right;
    padding-right: 0;
}
.parametersBox { margin-top: 5px; display: none; }
.parametersBox input{ max-width: 183px; }