@font-face {
  font-family: "FontAwesomeJiM-Regular";
  src: url("../fonts/FontAwesomeJiM-Regular.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/FontAwesomeJiM-Regular.woff") format("woff"), 
       url("../fonts/FontAwesomeJiM-Regular.ttf")  format("truetype"),
       url("../fonts/FontAwesomeJiM-Regular.svg#svgFontName") format("svg");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), 
       url("../fonts/Roboto-Regular.woff") format("woff"), 
       url("../fonts/Roboto-Regular.ttf")  format("truetype"),
       url("../fonts/Roboto-Regular.svg#svgFontName") format("svg");
}